body {
	text-align: center;
}
.title {
	text-align: left;
}
ul{
	margin: 1em auto;
	max-width: 250px;
	text-align: left;
}
.member {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 50px;
	margin-top: 30px;
	width: 320px;
	background-color: #eee;
	margin: 30px auto;
}
.position {
	text-align: left;
}
.name {
	font-size: 34px;
	text-align: right;
}

.sns_link {
	text-align: right;
}
/* リンクの色を上書き */
.member a {
	text-decoration: none;
	color: #333;
}

/* 自分の名前で好きな色を指定 */
.naoto {
	background-color: #eef;
}

.someone {
	background-color: #efe;
}
.miyabi {
	background-color: aqua;
}
.akito{
	background-color: #e4007f;
}
