.member {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 50px;
	margin-top: 30px;
	width: 320px;
	background-color: #eee;
}

.name {
	font-size: 34px;
	text-align: right;
}

.sns_link {
	text-align: right;
}

/* リンクの色を上書き */	
a {
	text-decoration: none;
	color: #333;
}

/* 自分の名前で好きな色を指定 */
.naoto {
	background-color: #eef;
}

.にくまんさん {
	background-color: #adff2f;
}
.音ゲーマー {
	background-color: #eef;
}
.yuuki {
	background-color: #ff7f50;
}
.akito {
	background-color: #dda0dd;
}
.パンジャンドラム {
	background-color: #ffdab9;
}
.純粋 {
	background-color: #ffff00;
}


