@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
.header{
  padding: 20px;
  font-size: 30px;
  background-color: #ACFA58;
}
body{
  background-color: #7fffd4;
}
h1{
  font-size: 48px;
}
b{
  color: red;
}
h3{
  font-size: 35px;
  text-decoration: line-through;
}
.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  background-color: #ACFA58;
}
