@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');


body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #333;
  text-align: center;
  font-size: 20px;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}


header,
footer{
  font-size: 30px;
  background: #333;
  color: #fff;
}

main{
  margin-bottom: 40px;
}

h2{
  font-size: 30px;
  margin: 25px 0 5px;
}

img{
  margin: 20px 0 10px;
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: solid 3px #333;
}
img.gray {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}
img.gray:hover {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
-ms-filter: grayscale(0);
-o-filter: grayscale(0);
filter: grayscale(0);
}

.name{
  font-size: 30px;
}

ul{
  list-style: none;
}

.link{
  margin-bottom: 30px;
}

.button{
  padding: 18px 32px;
  text-decoration: none;
  background: #333;
  color: #fff;
  border-radius: 20px;
}
.button:hover{
  background: #00acee;
}
