body{
 background-image: url("C:/Users/ayuyd/vr-yamagata.github.io/members/yuya/unshakable Dynamix.png");
 background-size: cover;
 background-attachment: fixed;
 background-position: center center;
}
h1{
  color: #00FFFF;
}
.game{
  color: #00EE00;
}
